@import './base.css';

#app {
  max-width: 450px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}


@media screen and (max-width :480px){
  #app {
    max-width: 100%;
    padding: 0;
  }
}
